{% extends "base.html"%}

{% block content %}
{% set list_prof = ["Инженер-исследователь", "пилот", "строитель", "экзобиолог", "врач",
                    "инженер по терраформированию", "климатолог", "специалист по радиационной защите",
                    "астрогеолог", "гляциолог", "инженер жизнеобеспечения", "метеоролог", "оператор марсохода",
                    "киберинженер", "штурман", "пилот дронов"] %}
{% if list == "ol" %}
<h2>Список профессий</h2>
<ol>
{% for prof in list_prof %}
    <li>{{prof}}</li>
{% endfor %}
</ol>
{% elif list == "ul"%}
<h2>Список профессий</h2>
<ul>
{% for prof in list_prof %}
    <li>{{prof}}</li>
{% endfor %}
</ul>
{% else %}
<h3>Неподдерживаемый параметр</h3>
{% endif %}
{% endblock %}