{% extends "base.html"%}

{% block content %}
<a href="department" class="btn btn-secondary">Департаменты</a>
{% if current_user.is_authenticated %}
<a href="addjob" class="btn btn-secondary">Добавить новость</a>
{% endif %}
<h3 align="center">Журнал работ</h3>
{% for job in jobs %}
<h3>Action {{job.id}}</h3>
<table>
    <tr>
        <th>Title of activity</th>
        <th>Team leader</th>
        <th>Duration</th>
        <th>List of collaborators</th>
        <th>Hazard category</th>
        <th>is finished</th>
    </tr>
    <tr>
        <td>{{job.job}}</td>
        <td>{{job.leader.surname}} {{job.leader.name}}</td>
        <td>{{job.work_size}} hours</td>
        <td>{{job.collaborators}}</td>
        <td>{{" ".join(job.categories)}}</td>
        {% if job.is_finished %}
        <td>finished</td>
        {% else %}
        <td>is not finished</td>
        {% endif %}
    </tr>
</table><br>
{% if current_user.is_authenticated and (current_user == job.leader or current_user.id == 1) %}
<div>
    <a href="/jobs/{{ job.id }}" class="btn btn-warning">
        Изменить
    </a>
    <a href="/jobs_delete/{{ job.id }}" class="btn btn-danger">
        Удалить
    </a>
</div>
{% endif %}
{% endfor %}
{% endblock %}